$main-font: "Montserrat", sans-serif;
$title-font: "Josefin Sans", sans-serif;

body {
  text-align: center;
  background-color: #fcf9f4 !important;
  background-image: url("../assets/designs/redox-01.png");
  color: #373a40;
}

h1,
h2,
h3 {
  font-family: $title-font;
  color: #373a40;
}

h4,
h5,
h6 title {
  font-family: $main-font;
  color: #373a40;
}

p {
  font-family: $main-font;
  font-size: 1.1rem;
  color: #202224;
}

.first-font {
  font-family: $main-font;
}

.separator {
  height: 20px;
  width: 100%;
  background-color: #8db596;
  background-image: url("../assets/designs/redox-01.png"),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
}
